{
  "solar": {
    "master": {
      "address": "",
      "paymentId": "",
      "keyStore": ""
    },
    "providers": [
      ""
    ]
  },
  "bsc": {
    "provider_url": "",
    "sxpswap": {
      "address": "",
      "abi": []
    },
    "swipe_token": {
      "address": "",
      "abi": []
    }
  },
  "eth": {
    "provider_url": "",
    "swipe_token": {
      "address": "",
      "abi": []
    },
    "sxpswap": {
      "address": "",
      "abi": []
    }
  }
}
